@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');


nav {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: bold;
    height: 100%;
    background: linear-gradient(to top, rgb(253, 226, 231), rgb(255, 192, 203));
}


.navbar {
    padding: 15px !important;
}  

.imgMenu {
    margin-left: 25px;
    margin-right: 25px;
}

/* nav div div a {
    display: block;
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
    font-size: 1.2rem;
    transition: 0.2s;
} */

main {
    background-color: white;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px 20px 0px 20px;
    margin-bottom: 0px !important;
}

.apresentacao>a, #cardProjeto>a, .repositoriosGithub>a {
    text-decoration: none;
}

#inicio {
    margin-top: 75px;
}

.fonte_google {
    font-family: "Satisfy", cursive, Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color: palevioletred;
    font-size: 50px;
}

#marginFonteGoogle {
    margin-top: 50px;
}

p {
    text-align: justify;
    text-indent: 20px;
    padding: 5px;
    margin-bottom: 5px !important;
}

.paragrafoHabilidades {
    font-size: small;
} 

.fotoKarol {
    display: block;
    margin: 0 auto;
    width: 250px;
    height: 250px;
    padding: 10px 10px 10px 10px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.programmer {
    display: block;
    margin: auto;
    
}

@media (min-width: 450px){

    .programmer {
        padding: 10px 50px 10px 50px;
        margin-top: 20px;
    }
}

button {
    text-align: center;
    margin-top: 10px !important;
}

button:hover, nav>#menu>#animaçãoLinkMenu>a:hover, .bordaConhecimentos:hover  {
    transform: scale(1.1);
    transition: all 0.5s;
}

/* passar o mouse a imagem ficar preta e branco */
.mudarImg>img:hover{
    filter: grayscale(1);
    transition: .4s;
}

h2 {
    text-align: center;
    color: palevioletred;
    padding-bottom: 20px !important;
}

h5, h6 {
    text-align: center;
}

h5 {
    margin-top: 10px !important;
}

#imgjavascript, #net, #server, #html, #css, #git {
    width: 150px;
    height: 150px;
    margin-bottom: 40px;
} 

/* centralizar botão */
.botao{
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    border-radius: 10px;
    align-content: center; 
}

#conhecimentos {
    padding: 40px;
}

.bordaConhecimentos {
 border: solid 4px rgb(253, 226, 231);
 border-radius: 10px;
 padding-top: 40px;
 margin: 25px;
}

.projetos {
    margin: 50px;
}

 {
    width: 50%;
    height: 50px;
    margin-top: 25% !important; 
    padding: 10p.repositoriosGithub>a>buttonx;
    background-color: rgb(253, 226, 231);
    border: solid 4px rgb(253, 226, 231);
    font-size: 18px;
}


/* espaçamento no card */
.card {
    margin-inline: 0.9rem;
    margin-block: 0.9rem;
    border: solid 4px rgb(253, 226, 231) !important;
}     

@media (min-width: 900px) {
    .alinharTresCard {
        display: flex;
    }
}

@media (max-width: 899px) {
    #projetos {
        display: grid; 
        place-items: center;
    }
}

footer {
    background-color: rgb(253, 226, 231);
}

#rodape {
    text-align: center;
}

/* centralizar os icones de rede social */
/* #centralizarIcones {
    position: relative;          
    display: inline-block;       
    left: 50%;                  
    transform: translate(-300%);
    margin: 10px;
}  */

@media (max-width: 768px) {
    .imagem {
        display: flex;
        justify-content: center;
        margin: auto;
        margin-top: 30px !important;
        margin-bottom: 10px !important;
    }

    .apresentacao {
        margin-bottom: 40px;
    }


    .botao {
        display: flex;
        justify-content: center;
        margin: auto;
    }

    .programmer {
        margin-top: -50px !important;
    }
    
}

 @media(min-width: 768px) {
    /* deixar body colorido apenas no computador */
    body{
        background-color: rgb(253, 226, 231) !important;
    }

    /* deixar menu fixo quando for em um pc */
    .menu {
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        z-index: 1;
    }
} 

footer {
    min-width: 300px;
    max-width: 1000px;
    background-color: rgb(253, 226, 231);
    margin: auto;
    padding: 20px;
    
}

.paragrafoFooter {
    font-weight: bold;
}

.linhaVertical {
    border-left: 2px solid black;
    margin-left: 150px;
}

@media (max-width: 820px) {
    .paragrafoFooter {
        font-size: 13px;
    }

    .linhaVertical {
        border-left: 2px solid black;
        margin-left: 60px;
    }
    
    .repositoriosGithub>a>button {
        
    }
  
} 