@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');


nav {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: bold;
    height: 100%;
    background: linear-gradient(to top, rgb(253, 226, 231), rgb(255, 192, 203));
}


.navbar {
    padding: 15px !important;
}  

.imgMenu {
    margin-left: 25px;
    margin-right: 25px;
}

main {
    background-color: white;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px 20px 0px 20px;
    margin-bottom: 0px !important;
}

.apresentacao>a, #cardProjeto>a, .repositoriosGithub>a {
    text-decoration: none;
}

#inicio {
    margin-top: 75px;
}

.fonte_google {
    font-family: "Satisfy", cursive, Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color: palevioletred;
    font-size: 50px;
}

#marginFonteGoogle {
    margin-top: 50px;
}

p {
    text-align: justify;
    text-indent: 20px;
    padding: 5px;
    margin-bottom: 5px !important;
}

.paragrafoHabilidades {
    font-size: small;
} 

.fotoKarol {
    display: block;
    margin: 0 auto;
    width: 250px;
    height: 250px;
    padding: 10px 10px 10px 10px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.programmer {
    display: block;
    margin: auto;  
}

button {
    text-align: center;
    margin-top: 10px !important;
}

button:hover, nav>#menu>#animaçãoLinkMenu>a:hover, .bordaConhecimentos:hover  {
    transform: scale(1.1);
    transition: all 0.5s;
}

/* passar o mouse a imagem ficar preta e branco */
.mudarImg>img:hover{
    filter: grayscale(1);
    transition: .4s;
}

h2 {
    text-align: center;
    color: palevioletred;
    padding-bottom: 20px !important;
}

h5, h6 {
    text-align: center;
}

h5 {
    margin-top: 10px !important;
}

#imgjavascript, #net, #server, #html, #css, #git {
    width: 150px;
    height: 150px;
    margin-bottom: 40px;
} 

/* centralizar botão */
.botao {
     display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 20px !important;
    margin-bottom: 25px !important; 
    padding: 5px;
    border-radius: 10px;
    align-content: center;
}

#conhecimentos {
    padding: 40px;
}

.bordaConhecimentos {
 border: solid 4px rgb(253, 226, 231);
 border-radius: 10px;
 padding-top: 40px;
 margin: 25px;
}

.projetos {
    margin: 50px;
}

/* espaçamento no card */
.card {
    margin-inline: 0.9rem;
    margin-block: 0.9rem;
    border: solid 4px rgb(253, 226, 231) !important;
}   

footer {
    background-color: rgb(253, 226, 231);
}

#rodape {
    text-align: center;
}

/* centralizar os icones de rede social */
/* #centralizarIcones {
    position: relative;          
    display: inline-block;       
    left: 50%;                  
    transform: translate(-300%);
    margin: 10px;
}  */

footer {
    min-width: 300px;
    max-width: 1000px;
    background-color: rgb(253, 226, 231);
    margin: auto;
    padding: 20px;
}

.paragrafoFooter {
    font-weight: bold;
}

/* colocar espaçamento na imagem  */
@media (min-width: 450px){

    .programmer {
        padding: 10px 50px 10px 50px;
        margin-top: 20px;
    }
} 

/* colocar os card lado a lado quando estiver em um computador */
@media (min-width: 900px) {
    .alinharTresCard, .juntarCardEBotao  {
        display: flex;
    }
}

/* centralizer os cards quando diminuir a tela */
@media (max-width: 899px) { 
    #projetos {
        display: grid; 
        place-items: center;
    }
} 

/* centralizar imagem das habilidades quando diminuir a tela */
@media (max-width: 991px) {
    .imagem {
        display: flex;
        justify-content: center;
        margin: auto;
        margin-top: 30px !important;
        margin-bottom: 10px !important;
    }
}

@media (max-width: 768px) {
    .apresentacao {
        margin-bottom: 40px;
    }

    .botao {
        display: flex;
        justify-content: center;
        margin: auto;
    }

    .programmer {
        margin-top: -50px !important;
    }
}

 @media(min-width: 825px) {
    /* deixar body colorido apenas no computador */
    body{
        background-color: rgb(253, 226, 231) !important;
    }

    /* deixar menu fixo quando for em um pc */
    .menu {
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        z-index: 1;
    }
} 
/* colocar o botão repositorio no centro  */
@media (min-width:850px) {
    #divRepositoriosGithubExterna {
        align-items: center;
        display: flex;
        justify-content: center;
        margin-left: 25%;
        
    }
}


/* Media para o Footer */
@media (min-width: 769px) {
    .linhaVertical {
        border-left: 2px solid black;
        margin-left: 150px;
    }

    /* Juntar as imagens do footer com o texto quando aumentar a tela */
    .divFooter{
        display: flex;
        align-items: center;
        justify-content: center;
    }
   
    #imagemFooter {
        display: flex;
        justify-content: right;
        
    } 
}

@media (max-width: 769px){
    
}


